@charset "utf-8";

a { text-decoration:none; }

html { position:relative; min-height:100%; background-image:url(subtlepatterns_concrete_seamless.png); }
body { padding:0 0.2rem 6rem 0.2rem; }
@media(min-width:980px) { body { padding:0 3rem 6rem 3rem; } }

.site-header { margin-bottom:1rem; }
.site-header, .site-header a { color:#ff4136; font-size:2rem; }
.site-header-brand:before { content:'?'; display:inline-block; width:5rem; font-size:4rem; line-height:4rem; vertical-align:top; color:#fe0; text-shadow:-2px 2px #cc0; }
.site-header-subtitle { margin:-1rem 0 2rem 5rem; font-size:1.2rem; }

.site-paginator { margin:2rem 0; }

.site-sidebar .pure-menu-heading { font-size:2rem; }
.site-sidebar .pure-menu-list { margin-left:2rem; }
.site-sidebar .pure-menu-link { overflow:hidden; text-overflow:ellipsis; }
@media(max-width: 48em) { .site-sidebar { display:none; } }

.site-footer { position:absolute; right:0; bottom:0; left:0; padding:1rem 3rem 1rem 3rem; }

article .pure-img { display:inline-block; }
pre *, code * { font-family:"Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important; }

/* adapted from spectre.css */
:lang(zh), :lang(ja), :lang(ko), .cjk { font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Hiragino Kaku Gothic Pro",Meiryo,"Malgun Gothic","Helvetica Neue",sans-serif; }
:lang(zh) ins, :lang(ja) ins, .cjk ins, :lang(zh) u, :lang(ja) u, .cjk u { border-bottom:.1rem solid; text-decoration: none; }
:lang(zh) del + del, :lang(ja) del + del, .cjk del + del, :lang(zh) del + s, :lang(ja) del + s, .cjk del + s, :lang(zh) ins + ins, :lang(ja) ins + ins, .cjk ins + ins, :lang(zh) ins + u, :lang(ja) ins + u, .cjk ins + u, :lang(zh) s + del, :lang(ja) s + del, .cjk s + del, :lang(zh) s + s, :lang(ja) s + s, .cjk s + s, :lang(zh) u + ins, :lang(ja) u + ins, .cjk u + ins, :lang(zh) u + u, :lang(ja) u + u, .cjk u + u { margin-left:.125em; }